
    /* Main content */

.Main-content--home {
    display: grid;
    grid-template-columns: minmax(150px, 2fr) minmax(150px, 1fr);
    position: relative;

    gap: 40px;
    margin: 30px;
    margin-top: 0;
    padding-top: 30px;
    grid-template-areas: 
    "Welcome Discount"
    "MenuCategory Categories"
    "Trending Trending"
    ;
}
.Main-content--home::after {
    content: '';
    position: absolute;
    background: url(../Icons/Lines.svg) no-repeat;
    top: 600px;
    left: 0;
    z-index: -100;
    width: 100%;
    height: 300px;
}
.welcome {
    grid-area: Welcome;
}
.discount {
    grid-area: Discount;
}
.food-menu {
    grid-area: MenuCategory;
}
.trending {
    grid-area: Trending;
}
.meal-groups {
    grid-area: Categories;
}

    /* Welcome */

.welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;

    height: 400px;
    max-width: 100%;
    border-radius: 25px;
    padding: 0 80px;

    background: url(../Image/Welcome/Welcome-1.jpg) no-repeat center;
    background-position: 0 45%;
    position: relative;
    overflow: hidden;
}
.welcome::after {
    content: "";
    position: absolute;
    inset: 0;
    background: var(--welcome-bg-overlay); /* степень затемнения */
    pointer-events: none;
}
.welcome > * {
    z-index: 5;
}
.welcome__label {
    font-size: 13px;
    color: #EA6A12;
    font-weight: 400;
    margin-bottom: 20px;
}
.welcome__title {
    color: #000;
    margin-bottom: 20px;
}
.welcome__desc {
    font-weight: 600;
    color: #959895;
    margin-bottom: 20px;
}
.welcome__desc span {
    color: #EA6A12;
}

    /* Discount */

.discount {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    margin-top: auto;
    height: 310px;
    max-width: 580px;

    border-radius: 25px;
    background: var(--main-item-background);
}
.discount__image {
    position: absolute;
    top: -30%;
}
.discount__text {
    margin-top: 150px;
    text-align: center;
}
.discount__text p {
   color: #959895;
   font-weight: 600;
}

    /* Food Menu */

.food-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 800px;
}
.food-menu__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    max-width: 100%;
    height: 100px;
    margin-bottom: 50px;
}

/* Types */


.category {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-bottom: 40px;
}
.category__card {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    flex-shrink: 0;

    width: 120px;
    height: 230px;

    background: var(--main-item-background);
    font-weight: 600;
    padding: 25px;
    border-radius: 25px;
    transition: all 0.5s;
}
.category__card .category__image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64px;
    width: 64px;
    border-radius: 50%;
    background: #ffffff;
    margin-bottom: 20px;
}
.category__card .category__separator {
    display: block;
    background: #EA6A12;
    width: 32px;
    height: 2px;
    margin-top: 25px;
    transition: all 0.5s;
}
.category__card:hover .category__separator{
    width: 50px;
    background: #fff;
    opacity: 0.7;
}
.category__card:hover {
    background: rgba(234, 106, 18, 0.7);
}
.category__card button {
    margin-top: 20px;
}

/* Dishes */

.dishes {
    display: flex;
    flex-wrap: wrap;
    gap: 100px 30px;
    max-width: 100%;
    margin-top: 130px;
    justify-content: center;
}
.dishes__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    box-sizing: border-box;

    width: 250px;
    height: 250px;
    padding: 15px 20px;
    
    background: var(--main-item-background);
    border-radius: 25px;
}
.dishes__info  {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-top: 50%;
}
.dishes__rating  {
    margin-top: 8px;
    color: #868686;
}
.dishes__rating .checked {
    color: #EA6A12;
}
.dishes__buy {
    display: flex;
    gap: 20px;
    margin-top: auto;
}
.dishes__image {
    position: absolute;
    top: -30%;
    left: 50%;
    transform: translateX(-50%);
}
.dishes__image img { 
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
    /* Meal Groups */

.meal-groups {
    display: block;
    align-self: start;
    flex-direction: column;
    box-sizing: border-box;
    padding: 15px 15px;

    border-radius: 25px;
    border: 1px solid var(--meal-groups-borders);
    background: var(--meal-groups-background);
    backdrop-filter: blur(10px);
    z-index: 10;

}
.meal-groups__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    max-width: 100%;
    height: 70px;

    margin-bottom: 30px;
    border-bottom: 2px solid var(--arrows-lines);
}
.meal-groups__title {
    font-size: 25px;
    font-family: 'Playfair display', serif;
}
.meal-groups__list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}
.meal-groups__list .main-btn {
    background: var(--meal-groups-button-bg);
    color: var(--primary-orange);
    border: 1px solid var(--primary-orange);
}
.meal-groups__list .main-btn:hover {
    color: #fff;
    background: var(--primary-orange);
}
    
    /* Trending */

.trending {
    z-index: 10;
}
.trending__header {
    display: flex;
    margin-bottom: 30px;
    justify-content: space-between;
    padding: 0px 20px;

}
.trending__content {
    display: grid;
    padding-inline: 20px;
    grid-template-columns: repeat(auto-fit, 280px);
    gap: 100px;
    justify-content: center;
}
.trending__card {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: relative;
    padding: 20px;
    height: 240px;
    width: 280px;
    background: var(--main-item-background);
    border-radius: 25px;
}
.trending__label {
    font-size: 13px;
    color: #EA6A12;
    font-weight: 400;
    margin-bottom: 10px;
}
.trending__title {
    width: 150px;
}
.trending__detail {
    font-weight: 400;
    font-size: 13px;
    color: #959895;
    margin-top: 15px;
}
.trending__detail .line {
    display: block;
    width: 32px;
    height: 2px;
    background: #959895;
    margin: 10px 0;
}
.trending__buy {
    margin-top: auto;
}
.trending__card .main-cost {
    display: inline-block;
    font-weight: 600;
    color: #EA6A12;
    margin-right: 20px;
}
.trending__card .add {
    display: inline-block;
}
.trending__image {
    position: absolute;
    top: 50%;
    right: -20%;
    transform: translateY(-50%);

    width: 160px;
    height: 160px;

    border-radius: 50%;
    overflow: hidden;
}
.trending__image img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

    /* Media queries */

@media (max-width: 1000px) {
    .Main-content--home {
        grid-template-columns: 1fr;
        justify-items: center;
        grid-template-areas: 
        "Welcome"
        "Discount"
        "MenuCategory"
        "Categories"
        "Trending"
    }
    .welcome,
    .discount,
    .food-menu,
    .trending,
    .meal-groups {
        width: 100%;
    }
    .discount {
        margin-top: 60px;
    }
    .trending {
        margin-bottom: 100px;
    }
}
@media (max-width: 800px) {
    .trending__content {
        gap: 50px;
        padding: 0;
    }
    .trending__card {
        width: 240px;
        height: 185px;
    }
    .trending__image {
        width: 130px;
        height: 130px;
    }
    .trending__detail {
        display: none;
    }
    .dishes__card {
        align-items: center;
        width: 200px;
        max-height: 230px;
    }
    .dishes__info { 
        text-align: center;
        align-items: center;
    }
    .dishes__image {
        width: 130px;
        height: 130px;
    }
    .welcome {
        background-position: 15% 45%;
    }
}
@media (max-width: 450px) {
    .Main-content--home {
        margin: 0;
        gap: 20px;
        padding-top: 10px;
    }
    .dishes__title,
    .trending__title {
        font-size: 16px;
    }
    .welcome {
        border-radius: 0;
        padding-inline: 20px;
        align-items: center;
        text-align: center;
        height: 300px;
    }
    .discount {
        height: 350px;
        justify-content: end;
        padding-bottom: 50px;
        box-sizing: border-box;
        border-radius: 0;
        margin-top: 0;
    }
    .discount__image {
        max-width: 350px;
        top: -1%;
    }
}
