* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
:root {
    --main-background: #ffffff;
    --main-content-background: #ffffff;
    --primary-orange: #EA6A12;
    --primary-grey: #959895;
    --arrows-lines: #E3E1E1;
    --button-background: #F5F5F5;
}
body {
    background: #fdf3eb;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
}
a {
    color: #000000;
}
img {
    max-width: 100%;
}
h1 {
    font-size: 40px;
    font-family: 'Playfair', serif;
}

.auth-page {
    display: flex;
    height: 100vh;
}
.left-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    height: 100%;
    margin-left: 300px;
    box-sizing: border-box;
    z-index: 10;
}
.right-side {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 940px;
}
.side-container {
    max-width: 500px;
}
.header__text {
    display: flex;
    gap: 10px;
    margin-block: 20px;
    flex-direction: column;
    align-items: center;
}
.header__subtitle {
    color: #959895;
}
#regForm {
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
    justify-content: center;
    gap: 20px 50px;
}
.field {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    color: #959895;
}
.field input {
    width: 200px;
    height: 30px;
    border: 1px solid #EA6A12;
    border-radius: 25px;
    padding: 0 10px;
    box-sizing: border-box;
}
.agreement-field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #959895;
    width: 100%;
}
.agreement-field input{
    width: 15px;
    height: 15px;
    margin-right: 10px;
}
.error-container {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    gap: 5px;
    font-size: 0.7em;
    color: red;
}
#SignUp {
    width: 150px;
    height: 40px;
    border-radius: 50px;
    border: none;
    background: var(--primary-orange);
    color: white;
    font-size: 16px;
    transition: all 0.3s;
}
body::after {
    content: '';
    position: absolute;
    background: url(../Icons/Lines.svg) no-repeat;
    top: 200px;
    left: 0;
    z-index: -100;
    width: 100%;
    height: 300px;
}

@media(max-width: 1450px) {
    .right-side {
        display: none;
    }
    .auth-page {
        align-items: center;
        justify-content: center;
    }
    .left-side {
        margin: 0;
    }
    .header__image {
        display: flex;
        justify-content: center;
    }
}
@media(max-width: 500px) {
    #regForm {
        flex-direction: column;
        align-items: center;
    }
    .auth-page {
        height: 100%;
        padding-block: 50px;
    }
}